.main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	color: var(--main-color);
	text-decoration: none;
	aspect-ratio: 1;
}

.main h3 {
	width: 90%;
	padding-left: var(--padding);
	text-align: center;
	font-family: var(--main-font);
	font-size: var(--font-h2);
	line-height: var(--font-h2);
}

.image {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.image img {
	filter: brightness(0.7);
}
