.main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 16rem;
	color: var(--main-color);
	text-decoration: none;
}

.main h2 {
	width: 90%;
	text-align: center;
	font-size: var(--font-h2);
	line-height: var(--font-h2);
}

.main h3 {
	width: 90%;
	text-align: center;
	font-family: var(--font-sec);
	font-size: var(--font-text);
	font-weight: 400;
	font-style: italic;
}

.image {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.image img {
	filter: brightness(0.7);
}
