.main {
	position: fixed;
	width: 100%;
	height: 4.8rem;
	font-family: var(--main-font);
	z-index: 10;
}

.main:hover {
	background-color: var(--background);
}

.main-cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: var(--main-width);
	height: 100%;
	margin: 0 auto;
	padding: 0 var(--padding);
}

.main_logo a {
	color: var(--main-color);
	font-size: var(--font-h2);
	text-decoration: none;
}

.main_menu {
	position: relative;
	display: flex;
	align-items: center;
	width: auto;
	height: 100%;
	font-size: var(--font-h2);
}

.menu_links {
	position: absolute;
	top: 100%;
	right: 0;
	width: auto;
	height: auto;
	padding: 1rem;
	background-color: var(--background);
	list-style: none;
}

.menu_links li {
	width: 100%;
}

.menu_links a {
	display: block;
	width: 100%;
	padding: 0.5rem 0;
	color: var(--main-color);
	text-decoration: none;
}

.menu_links a:hover {
	background-color: var(--background-hover);
}

.menu_links-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	cursor: pointer;
}

.menu_links-button:hover {
	background-color: var(--background-hover);
}

.menu_links-button span {
	width: 3rem;
	height: 3rem;
	cursor: pointer;
}

.menu_links-button span svg {
	width: 100%;
	height: 100%;
}

.menu_links-submenu {
	padding: 0 1rem;
	list-style: none;
	border-top: solid 0.1rem var(--main-color);
	border-bottom: solid 0.1rem var(--main-color);
}

.menu_logo {
	width: 4rem;
	height: 4rem;
	cursor: pointer;
}

.menu_logo svg {
	width: 100%;
	height: 100%;
}

@media (min-width: 1024px) {
	.main {
		height: 6.4rem;
	}
	.main_menu {
		position: relative;
		display: flex;
		align-items: center;
		width: auto;
		height: 100%;
		font-size: var(--font-text);
	}

	.menu_links {
		position: relative;
		display: flex;
		align-items: center;
		top: 0;
		right: 0;
		width: auto;
		height: 100%;
		padding: 0;
		background-color: transparent;
	}

	.menu_links li {
		display: block;
		width: 100%;
		height: 100%;
	}

	.menu_links a {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0 var(--text-margin);
		color: var(--main-color);
		text-decoration: none;
	}

	.menu_links a:hover {
		background-color: var(--background-hover);
	}

	.menu_links-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		padding: 0 var(--text-margin);
		cursor: pointer;
	}

	.menu_links-button:hover {
		background-color: var(--background-hover);
	}

	.menu_links-submenu {
		padding: 0;
		list-style: none;
		background-color: var(--background);
		border-top: none;
		border-bottom: none;
	}

	.menu_links-submenu a {
		padding: var(--text-margin) 0;
		font-size: var(--font-text);
	}
}
