.main {
	width: var(--main-width);
	max-width: var(--max-width);
	margin: 0 auto;
}

.main_banner {
	width: 100%;
	height: auto;
}

.main_text {
	width: 100%;
	height: auto;
	margin-top: var(--margin);
	padding: 0 var(--padding);
}

.main_text h3 {
	font-size: var(--font-text);
	font-weight: 400;
	font-style: italic;
}

.main_solutions {
	width: 100%;
	height: auto;
}

.solutions_slide {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: auto;
}

.slide_image {
	position: relative;
	width: 100%;
	height: 16rem;
}

.slide_text {
	margin-top: 1rem;
	padding: 0 var(--padding);
}

.slide_text h3 {
	font-family: var(--main-font);
	font-size: var(--font-h3);
}

.main_projects {
	width: 100%;
	height: auto;
}

.projects_text {
	padding: 0 var(--padding);
}

.projects_text p {
	font-style: italic;
}

.projects_list {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	width: 100%;
	height: auto;
	margin-top: var(--margin);
}

.projects_slide {
	height: 16rem;
}
